// ==============================
// Custom style
// 
// ==============================
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.header-title a:hover{
    color:white;
    [theme=dark] & {
        color:#0049ab;
    }
}

.menu-item:hover{
    color:white;
}

.search-button:hover{
    color:white;
}

/*Movil Menu Page content*/

.summary{
    border-radius: 15px;
}

/*404 MANO*/
.fa-fw:hover{
    color: white;
}